body
{
    background-color: #151D3B;
    color: #019267;
    text-align: center;
}

h1
{
    font-family: "Lobster";
    font-size: 11rem;
    line-height: 10rem;
}

h2
{
    font-family: "Lobster";
    font-size: 4rem;
}

h4
{
    font-family: 'Shadows Into Light';
    font-size: 2rem;
    line-height: 5rem;
}
.container-fluid
{
    padding: 5% 20% 5% 20%;
}

i
{
    padding-top: 20px;
    font-size: 8rem;
    color: #FFB72B;
}